.chrome {
    position: relative;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 100px;
    font-style: italic;
    line-height: 1;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
}

.dreams {
    position: relative;
    z-index: 20;
    margin: 0;
    margin-left: 100px;
    font-family: "Mr Dafoe", cursive;
    font-size: 50px;
    color: #f975f7;
    filter: drop-shadow(2px 2px 20px #f008b7);
    -webkit-text-stroke: 1px #f008b7;
}

* {
    font-family: "Titillium Web", cursive;
    font-size: 20px;
    letter-spacing: 3px;
    color: whitesmoke;
}